<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Business Update - We Connect</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/business-update.css"/>
</head>

<body>
    <header>
      <div id="banner">
          <div id="logo-container">
            <a href='#'>
              WE CONNECT
            </a>
          </div>
      </div>

      <div class="container-fluid">
        <div class="row" id="below-banner">
          <div id="search-container" class="col-md-3">
            <form action="#" method='get'>
                <input type="text" name="business" placeholder='Search Business'
                       id="biz-search">
                <div id="search-button">
                  <input type="submit" value="Search">
                </div>
            </form>
          </div>

          <nav class="col-md-6">
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
          </nav>

          <div id="reg-container" class="col-md-3">
              <a href="#" id=''>Log in</a> /
              <a href="#" id=''>Sign Up</a>
          </div>
        </div>
      </div>
    </header>

    <form action="#" id="business-updt-form" method='post'>
  <br>
    <input id="n_field" name="name" type="text"
     placeholder='Edit business name'
     maxlength="30"><br><br>

    <input id="extra_field" type="text" name="extra"
     placeholder='Update further details'><br><br>

    <input type="placeholder" name="placeholder" placeholder='placeholder'
     id="placeholder"><br><br>

    <input type="placeholder" name="placeholder"
    placeholder='placeholder'
    id="placeholder"><br><br>

    <input type="submit" value="Submit" onClick="#">
</form>

</body>

</html>
