<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Signup - We Connect</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/signup.css"/>
</head>

<body>
    <header>
      <div id="banner">
          <div id="logo-container">
            <a href='#'>
              WE CONNECT
            </a>
          </div>
      </div>

      <div class="container-fluid">
        <div class="row" id="below-banner">
          <div id="search-container" class="col-md-3">
            <form action="#" method='get'>
                <input type="text" name="business" placeholder='Search Business'
                       id="biz-search">
                <div id="search-button">
                  <input type="submit" value="Search">
                </div>
            </form>
          </div>

          <nav class="col-md-6">
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
            <a href="#">placeholder</a>
          </nav>

          <div id="reg-container" class="col-md-3">
              <a href="#" id=''>Log in</a> /
              <a href="#" id=''>Sign Up</a>
          </div>
        </div>
      </div>
    </header>

    <form action="#" id="signup-form" method='post'>
  <br>
    <input id="un_field" name="username" type="text"
     placeholder='Enter your desired username'
     maxlength="30"><br><br>

    <input id="em_field" type="text" name="email"
     placeholder='Enter your email'><br><br>

    <input type="password" name="password" placeholder='Enter your password'
     id="pw_field"><br><br>

    <input type="password" name="password-confirm"
    placeholder='Enter your password (again)'
    id="pw2_field"><br><br>

    <input type="submit" value="Sign Up" onClick="#">
</form>

</body>

</html>
